<div class="edit-policy">
    <!--  <div class="frame-container"> -->
    <div class="frame-1000004481">
        <div class="frame-2147223677">
            <div class="editpolicy">

                <h4 class="rs-table-title1 rs-txt-s8 rs-txt-secondary-clr" id="ac-table-title9">Edit Policy</h4>
            </div>
        </div>
        <div class="frame-2147223676">
            <div class="frame-2147223710">
                <div class="policy-type">
                    <span> Policy Type:</span>
                </div>
                <div class="rs-tags">
                    <ul class="rs-tags-list">
                        <li class="rs-tags-item">
                            <div class="rs-tags-el" aria-selected="false">Access</div>
                        </li>
                    </ul>
                </div>
                <div class="input-button">
                    <div class="input">
                        <div class="text-frame">
                            <div class="input-label">
                                Add Validity Period
                                <i class="icon-Calendar" style="width: 1rem; height: 1rem; margin-left: 3.5rem;"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="frame-2147223712">
                <div class="frame-2147223710">
                    <div class="policy-id">Policy ID*:</div>
                    <div class="rs-tags">
                        <ul class="rs-tags-list">
                            <li class="rs-tags-item">
                                <div class="rs-tags-el" aria-selected="false"><span>183</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="rs-flex-row">
                        <div class="rs-flex-column rs-flex-shrink">
                            <span id="ac-switch-text1">Enabled</span>
                        </div>
                        <div class="rs-switch">
                            <input type="checkbox" id="switch1" name="switch1" role="switch">
                            <label for="switch1" aria-labelledby="ac-switch-text1">
                                <span class="rs-switch-active" aria-hidden="true">Yes</span>
                                <span class="rs-switch-inactive" aria-hidden="true">No</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="frame-2147223705">
                <div class="policy-name">Policy Name*:</div>
                <div class="frame-21472237102">
                    <div class="rs-form-item">
                        <input type="text" id="ac-defaultInput" name="defaultInput" placeholder="" />
                        <label class="rs-form-label" for="ac-defaultInput" style="width: 355px;">PL_FAMILYC</label>
                    </div>
                </div>
            </div>
            <div class="frame-2147223709">
                <div class="policy-label">Policy Label:</div>
                <div class="rs-form-item" style="width: 23.5rem;">
                    <div class="rs-multiselect">
                        <select id="ac-multiselectDropdown" name="multiselectDropdown" aria-hidden="true" multiple>
                            <option value="Option1">Option1</option>
                            <option value="Option2">Option2</option>
                            <option value="Option3">Option3</option>
                            <option value="Option4">Option4</option>
                        </select>
                        <button class="rs-multiselect-btn" autocomplete="off" aria-haspopup="true" aria-expanded="false"
                            aria-label="Select label(s)" aria-describedby="ac-multiselectDropdown-txt">
                            <span class="rs-multiselect-value" id="ac-multiselectDropdown-txt"></span>
                        </button>
                        <label class="rs-form-label" for="ac-multiselectDropdown">Select label(s)</label>
                        <div class="rs-tags rs-tags-neg">
                            <button class="rs-tags-el" data-filter-btn>
                                <span data-filter-txt aria-hidden="true"></span>
                                <span class="rs-tags-action rs-tags-action-close">
                                    <span class="rs-tags-action-content">
                                        <span class="rs-tags-action-icon" title="Reset field">
                                            <span class="show-for-sr">Reset field</span>
                                        </span>
                                    </span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="frame-2147223713">
                <div class="tag">Tag*:</div>
                <div class="rs-form-item">
                    <input type="text" id="ac-defaultInput" name="defaultInput" placeholder="" />
                    <label for="ac-defaultInput">Input label (optionnal)</label>
                </div>
            </div>
            <div class="frame-2147223713">
                <div class="description">Description:</div>
                <div class="rs-form-item">
                    <textarea id="ac-defaultTextarea" class="" name="defaultTextarea" placeholder="Enter your text here"
                        rows=5></textarea>
                    <label class="rs-form-label" for="ac-defaultTextarea">Read any privacy law segmentation
                        information</label>
                </div>
            </div>
            <div class="frame-2147223713">
                <div class="rs-flex-row">
                    <div class="rs-flex-column rs-flex-shrink">
                        <span id="ac-switch-text2">Audit Logging Enabled</span>
                    </div>
                    <div class="rs-flex-column">
                        <div class="rs-switch">
                            <input type="checkbox" id="switch2" name="switch2" role="switch">
                            <label for="switch2" aria-labelledby="ac-switch-text2">
                                <span class="rs-switch-active" aria-hidden="true">Yes</span>
                                <span class="rs-switch-inactive" aria-hidden="true">No</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="frame-2147223678">
            <div class="frame-21472237103">
                <div class="allow-conditions">Allow Conditions</div>
                <div class="input2">
                    <img class="icon-frame-optional2" src="assets/img/icon-frame-optional.svg" />
                    <div class="text-frame2">
                        <div class="input-label2">Add Condition</div>
                    </div>
                </div>
                <!-- <div class="input-button">
                    <div class="input">
                        <div class="text-frame">
                            <div class="input-label">
                                <img class="icon-frame-optional2" src="assets/img/icon-frame-optional.svg" />
                                <div class="text-frame2">
                                    <div class="input-label2">Add Condition</div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div> -->
            </div>

            <div class="rs-table-data" style="width: -webkit-fill-available;">
                <table class="rs-table rs-table-zebra rs-table--responsive rs-table-has-banner-bottom"
                    aria-labelledby="ac-table-title9">
                    <thead>
                        <tr>
                            <th scope="col" aria-sort="ascending"
                                class="rs-nowrap rs-table--responsive__cell-hide rs-table-sort">
                                <a role="button" href="javascript:void(0)"
                                    class="rs-link-no-decoration rs-table-sort-link">
                                </a>
                            </th>
                            <th scope="col" aria-sort="ascending"
                                class="rs-nowrap rs-table--responsive__cell-hide rs-table-sort">
                                <a role="button" href="javascript:void(0)"
                                    class="rs-link-no-decoration rs-table-sort-link">
                                    Select Roles

                                </a>
                            </th>
                            <th scope="col" aria-sort="none"
                                class="rs-nowrap rs-table--responsive__cell-hide rs-table-sort">
                                <a role="button" href="javascript:void(0)"
                                    class="rs-link-no-decoration rs-table-sort-link">
                                    Select Groups

                                </a>
                            </th>
                            <th scope="col" aria-sort="none"
                                class="rs-nowrap rs-table--responsive__cell-hide rs-table-sort">
                                <a role="button" href="javascript:void(0)"
                                    class="rs-link-no-decoration rs-table-sort-link">
                                    Select Users

                                </a>
                            </th>
                            <th scope="col" aria-sort="none"
                                class="rs-nowrap rs-table--responsive__cell-hide rs-table-sort">
                                <a role="button" href="javascript:void(0)"
                                    class="rs-link-no-decoration rs-table-sort-link">
                                    Permissions

                                </a>
                            </th>

                            <th scope="col" aria-sort="none" class="rs-nowrap rs-table--responsive__cell-hide">
                                <span class="show-for-sr">Actions</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    <tbody>
                        <tr>
                            <td data-label="Name:" class="rs-table--responsive__cell-collapse">
                                <div class="rs-checkbox">

                                </div>
                            </td>
                            <td data-label="Select Roles:" class="rs-table--responsive__cell-collapse">
                                <div class="rs-tags">
                                    <ul class="rs-tags-list">
                                        <li class="rs-tags-item">
                                            <div class="rs-tags-el rs-txt-s4" style="font-size: 14px;">
                                                Competition Law
                                                <button class="rs-tags-action rs-tags-action-close">
                                                    <span class="rs-tags-action-content">
                                                        <span class="rs-tags-action-icon" title="Remove">
                                                            <span class="show-for-sr">Remove This back
                                                                from the list</span>
                                                        </span>
                                                    </span>
                                                </button>
                                            </div>
                                        </li><br>
                                        <li class="rs-tags-item">
                                            <div class="rs-tags-el" style="font-size: 14px;">Wholesale and Retail Data
                                                Processing
                                                <button class="rs-tags-action rs-tags-action-close">
                                                    <span class="rs-tags-action-content">
                                                        <span class="rs-tags-action-icon" title="Remove">
                                                            <span class="show-for-sr">Remove This back
                                                                from the list</span>
                                                        </span>
                                                    </span>
                                                </button>
                                            </div>
                                        </li>
                                        <div>
                                            <li class="rs-tags-item">
                                                <a class="rs-tags-el rs-selected rs-tags-btn" href="#" role="button"
                                                    aria-pressed="false">Add</a>
                                            </li>
                                            <li class="rs-tags-item">
                                                <button class="rs-tags-el rs-tags-btn" type="button"
                                                    aria-pressed="true">Clear All</button>
                                            </li>
                                        </div>
                                    </ul>
                                </div>
                            </td>

                            <td data-label="Select Groups:">
                                <span class="no-groups-selected-yet">
                                    No Groups selected yet
                                </span>
                                <div class="rs-tags">
                                    <ul class="rs-tags-list">
                                        <li class="rs-tags-item">
                                            <a class="rs-tags-el rs-selected rs-tags-btn" href="#" role="button"
                                                aria-pressed="false">Add</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>

                            <td data-label="Select Users:" class="rs-table--responsive__cell-collapse">
                                <span class="no-groups-selected-yet">
                                    No Users selected yet
                                </span>
                                <div class="rs-tags">
                                    <ul class="rs-tags-list">
                                        <li class="rs-tags-item">
                                            <a class="rs-tags-el rs-selected rs-tags-btn" href="#" role="button"
                                                aria-pressed="false">Add</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                            <td data-label="Permissions:" class="rs-table--responsive__cell-collapse">
                                <div class="rs-tags">
                                    <ul class="rs-tags-list">
                                        <li class="rs-tags-item">
                                            <div class="rs-tags-el rs-txt-s4" style="font-size: 14px;">
                                                HDFS
                                                <button class="rs-tags-action rs-tags-action-close">
                                                    <span class="rs-tags-action-content">
                                                        <span class="rs-tags-action-icon" title="Remove">
                                                            <span class="show-for-sr">Remove This back
                                                                from the list</span>
                                                        </span>
                                                    </span>
                                                </button>
                                            </div>
                                        </li>
                                        <li class="rs-tags-item">
                                            <div class="rs-tags-el" style="font-size: 14px;">
                                                HIVE
                                                <button class="rs-tags-action rs-tags-action-close">
                                                    <span class="rs-tags-action-content">
                                                        <span class="rs-tags-action-icon" title="Remove">
                                                            <span class="show-for-sr">Remove This back
                                                                from the list</span>
                                                        </span>
                                                    </span>
                                                </button>
                                            </div>
                                        </li>
                                        <li class="rs-tags-item">
                                            <div class="rs-tags-el rs-txt-s4" style="font-size: 14px;">
                                                OZONE
                                                <button class="rs-tags-action rs-tags-action-close">
                                                    <span class="rs-tags-action-content">
                                                        <span class="rs-tags-action-icon" title="Remove">
                                                            <span class="show-for-sr">Remove This back
                                                                from the list</span>
                                                        </span>
                                                    </span>
                                                </button>
                                            </div>
                                        </li>
                                        <li class="rs-tags-item">
                                            <div class="rs-tags-el rs-txt-s4" style="font-size: 14px;">
                                                KAFKA
                                                <button class="rs-tags-action rs-tags-action-close">
                                                    <span class="rs-tags-action-content">
                                                        <span class="rs-tags-action-icon" title="Remove">
                                                            <span class="show-for-sr">Remove This back
                                                                from the list</span>
                                                        </span>
                                                    </span>
                                                </button>
                                            </div>
                                        </li>
                                        <div>
                                            <li class="rs-tags-item">
                                                <a class="rs-tags-el rs-selected rs-tags-btn" href="#" role="button"
                                                    aria-pressed="false">Add</a>
                                            </li>
                                            <li class="rs-tags-item">
                                                <button class="rs-tags-el rs-tags-btn" type="button"
                                                    aria-pressed="true">Clear All</button>
                                            </li>
                                        </div>
                                    </ul>
                                </div>
                            </td>


                            <td class="rs-table--responsive__cell-collapse text-right rs-nowrap rs-table-cell-compact">
                                <button class="rs-link-action rs-link-action-edit"><span class="rs-action-link-icon"
                                        title="Edit"><span class="show-for-sr">Edit Benjamin
                                            Richards</span></span></button>
                                <button class="rs-link-action rs-link-action-remove rs-margin-left1"><span
                                        class="rs-action-link-icon" title="Remove"><span class="show-for-sr">Remove
                                            Benjamin Richards</span></span></button>
                            </td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td data-label="Name:" class="rs-table--responsive__cell-collapse">
                                <div class="rs-checkbox">

                                </div>
                            </td>
                            <td data-label="Select Roles:" class="rs-table--responsive__cell-collapse">
                                <div class="rs-tags">
                                    <ul class="rs-tags-list">
                                        <span class="no-groups-selected-yet">
                                    No Roles selected yet
                                </span>
                                <div class="rs-tags">
                                    <ul class="rs-tags-list">
                                        <li class="rs-tags-item">
                                            <a class="rs-tags-el rs-selected rs-tags-btn" href="#" role="button"
                                                aria-pressed="false">Add</a>
                                        </li>
                                    </ul>
                                </div>
                                    </ul>
                                </div>
                            </td>

                            <td data-label="Select Groups:">
                                <span class="no-groups-selected-yet">
                                    No Groups selected yet
                                </span>
                                <div class="rs-tags">
                                    <ul class="rs-tags-list">
                                        <li class="rs-tags-item">
                                            <a class="rs-tags-el rs-selected rs-tags-btn" href="#" role="button"
                                                aria-pressed="false">Add</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>

                            <td data-label="Select Users:" class="rs-table--responsive__cell-collapse">
                                <span class="no-groups-selected-yet">
                                    No Users selected yet
                                </span>
                                <div class="rs-tags">
                                    <ul class="rs-tags-list">
                                        <li class="rs-tags-item">
                                            <a class="rs-tags-el rs-selected rs-tags-btn" href="#" role="button"
                                                aria-pressed="false">Add</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                            <td data-label="Permissions:" class="rs-table--responsive__cell-collapse">
                                <span class="no-groups-selected-yet">
                                    No Permissions selected yet
                                </span>
                                <div class="rs-tags">
                                    <ul class="rs-tags-list">
                                        <li class="rs-tags-item">
                                            <a class="rs-tags-el rs-selected rs-tags-btn" href="#" role="button"
                                                aria-pressed="false">Add</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>                          
                            <td class="rs-table--responsive__cell-collapse text-right rs-nowrap rs-table-cell-compact">
                                <button class="rs-link-action rs-link-action-edit"><span class="rs-action-link-icon"
                                        title="Edit"><span class="show-for-sr">Edit Benjamin
                                            Richards</span></span></button>
                                <button class="rs-link-action rs-link-action-remove rs-margin-left1"><span
                                        class="rs-action-link-icon" title="Remove"><span class="show-for-sr">Remove
                                            Benjamin Richards</span></span></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="frame-2147223718">
            <div class="frame-2147223717">

                <button class="buttondesign" (click)="saveChanges()">Save Changes</button>
                <button class="buttondesign" (click)="resetForm()">Reset</button>

            </div>
        </div>


    </div>
</div>