.users,
.users * {
  box-sizing: border-box;
}

.users {
  background: #ffffff;
  height: 1010px;
  position: relative;
  overflow: hidden;
}
.frame-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 80%;
  max-width: 100%;
  height: fit-content;
  position: absolute;
  left: 234px;
  top: 120px;
}
.frame-2147223677 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.frame-2147223676 {
  background: rgba(238, 234, 244, 0.7);
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-1000004495 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-1000004493 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.input-fields {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 355px;
  position: relative;
}
.text-field-frame {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.input-button {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.input {
  background: var(
    --component-and-panel-background-positive-white-background,
    #ffffff
  );
  border-radius: 5px 0px 0px 5px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.text-frame {
  padding: 13px 20px 13px 20px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.input-label {
  color: var(--text-positive-text-details, rgba(0, 0, 0, 0.56));
  text-align: left;
  font-family: "Proximus-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  flex: 1;
}
.button-frame-optional {
  background: var(--text-positive-heading, #5c2d91);
  border-radius: 0px 3px 25px 0px;
  padding: 0px 20px 0px 20px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 50px;
  position: relative;
  overflow: hidden;
}
.button-content {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.search {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.frame-1000004494 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.dropdown {
  background: #ffffff;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 163px;
  position: relative;
}
.text-field-frame2 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.input2 {
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.text-frame2 {
  padding: 12px 20px 12px 20px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.input-label2 {
  color: var(--text-positive-text-details, rgba(0, 0, 0, 0.56));
  text-align: left;
  font-family: var(
    --body-text-default-mob-font-family,
    "Proximus-Regular",
    sans-serif
  );
  font-size: var(--body-text-default-mob-font-size, 14px);
  line-height: var(--body-text-default-mob-line-height, 21px);
  font-weight: var(--body-text-default-mob-font-weight, 400);
  position: relative;
  align-self: stretch;
  flex: 1;
}
.icon-frame-optional {
  padding: 0px 20px 0px 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 45px;
  position: relative;
}
.icon {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
}
.rectangle-2 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.frame {
  width: 100%;
  height: 60.16%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 14.84%;
  top: 25%;
  overflow: visible;
}
.frame2 {
  width: 100%;
  height: 60.16%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 14.84%;
  top: 25%;
  overflow: visible;
}
.button {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.button-frame {
  background: var(
    --component-and-panel-background-positive-white-background,
    #ffffff
  );
  border-radius: 3px;
  border-style: solid;
  border-color: var(--text-positive-heading, #5c2d91);
  border-width: 2px;
  padding: 6px 20px 6px 20px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 44px;
  position: relative;
  overflow: hidden;
  backdrop-filter: var(--default-bg-blur-backdrop-filter, blur(15px));
}
.frame-2147223678 {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.download {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  aspect-ratio: 1;
}
.g-10-1 {
  height: auto;
  position: absolute;
  left: 0px;
  top: 16px;
  transform: translate(0px, -16px);
  overflow: visible;
}
.button-label {
  color: var(--text-positive-heading, #5c2d91);
  text-align: center;
  font-family: var(
    --body-text-bold-mob-font-family,
    "Proximus-Bold",
    sans-serif
  );
  font-size: var(--body-text-bold-mob-font-size, 14px);
  line-height: var(--body-text-bold-mob-line-height, 21px);
  font-weight: var(--body-text-bold-mob-font-weight, 700);
  position: relative;
}
.button-min-width-without-padding {
  flex-shrink: 0;
  width: 60px;
  height: 0px;
  position: relative;
}
.rectangle-20 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.frame-1000004480 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.heading {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.table-cells {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 64px;
  position: relative;
}
.table-cells-skeleton {
  background: var(
    --component-and-panel-background-positive-white-background,
    #ffffff
  );
  padding: 18px 4px 18px 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  width: 48px;
  position: relative;
}
.checkbox-style {
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
}
.check-frame {
  background: var(
    --component-and-panel-background-positive-hover-blur-background,
    rgba(255, 255, 255, 0.4)
  );
  border-radius: 5px;
  border-style: solid;
  border-color: var(
    --component-and-panel-background-positive-text-details,
    rgba(0, 0, 0, 0.44)
  );
  border-width: 2px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.empty {
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.table-cells2 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 160px;
  height: 64px;
  position: relative;
}
.table-cells-skeleton2 {
  background: var(
    --component-and-panel-background-positive-white-background,
    #ffffff
  );
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.frame-237 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.column-title {
  color: var(--text-positive-body-text, #0a0a0a);
  text-align: left;
  font-family: var(--body-text-bold-font-family, "Proximus-Bold", sans-serif);
  font-size: var(--body-text-bold-font-size, 16px);
  line-height: var(--body-text-bold-line-height, 24px);
  font-weight: var(--body-text-bold-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.column-sorting {
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.sorting {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.table-cells3 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 144px;
  height: 64px;
  position: relative;
}
.table-cells4 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 329px;
  height: 64px;
  position: relative;
}
.table-cells5 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 126px;
  height: 64px;
  position: relative;
}
.sorting2 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.table-cells6 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 135px;
  height: 64px;
  position: relative;
}
.sorting3 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.table-cells7 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 103px;
  height: 64px;
  position: relative;
}
.sorting4 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.table-cells8 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 104px;
  height: 64px;
  position: relative;
}
.frame-1000004479 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.row-1 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 80px;
  position: relative;
}
.table-cells9 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.table-cells10 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 160px;
  position: relative;
}
.table-cells-skeleton3 {
  background: var(
    --component-and-panel-background-positive-white-background,
    #ffffff
  );
  padding: 18px 10px 18px 10px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.data-with-icon {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.data {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.cell-information {
  color: var(--text-positive-body-text, #0a0a0a);
  text-align: left;
  font-family: var(
    --body-text-small-text-font-family,
    "Proximus-Regular",
    sans-serif
  );
  font-size: var(--body-text-small-text-font-size, 14px);
  line-height: var(--body-text-small-text-line-height, 21px);
  font-weight: var(--body-text-small-text-font-weight, 400);
  text-decoration: underline;
  position: relative;
  align-self: stretch;
}
.table-cells11 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 144px;
  position: relative;
}
.cell-information2 {
  color: var(--text-positive-body-text, #0a0a0a);
  text-align: left;
  font-family: var(
    --body-text-small-text-font-family,
    "Proximus-Regular",
    sans-serif
  );
  font-size: var(--body-text-small-text-font-size, 14px);
  line-height: var(--body-text-small-text-line-height, 21px);
  font-weight: var(--body-text-small-text-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.table-cells12 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 329px;
  position: relative;
}
.table-cells13 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 126px;
  position: relative;
}
.cell-information3 {
  color: var(--text-positive-body-text, #0a0a0a);
  text-align: left;
  font-family: "Proximus-Regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.table-cells14 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 135px;
  position: relative;
}
.table-cells-skeleton4 {
  background: var(
    --component-and-panel-background-positive-white-background,
    #ffffff
  );
  padding: 18px 20px 18px 10px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.table-cells15 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 103px;
  position: relative;
}
.cell-information4 {
  color: var(--status-positve-warning-background, #f58221);
  text-align: left;
  font-family: "Proximus-Bold", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.table-cells16 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.table-cells-skeleton5 {
  background: var(
    --component-and-panel-background-positive-white-background,
    #ffffff
  );
  padding: 18px 20px 18px 10px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-end;
  align-self: stretch;
  flex-shrink: 0;
  width: 104px;
  position: relative;
}
.action-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.actionlink-frame {
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.circle {
  background: var(
    --component-and-panel-background-positive-clickable-background-2,
    rgba(92, 45, 145, 0.16)
  );
  border-radius: 18px;
  padding: 6px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  backdrop-filter: var(--default-bg-blur-backdrop-filter, blur(15px));
}
.icon2 {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.icon3 {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.row-11 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 80px;
  position: relative;
}
.cell-information5 {
  color: var(--status-positve-success-background, #008000);
  text-align: left;
  font-family: "Proximus-Bold", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.icon4 {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.icon5 {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.row-12 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 80px;
  position: relative;
}
.icon6 {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.icon7 {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.row-13 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 80px;
  position: relative;
}
.icon8 {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.icon9 {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.row-14 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 80px;
  position: relative;
}
.icon10 {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.icon11 {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.navigation-zone {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.navigation-zone-skeleton {
  background: var(
    --component-and-panel-background-positive-white-background,
    #ffffff
  );
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  position: relative;
}
.pagination {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 376px;
  position: relative;
}
.pagination-frame {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.select {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.text-field-frame3 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.input3 {
  background: var(
    --component-and-panel-background-positive-white-background,
    #ffffff
  );
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.text-frame3 {
  padding: 9px 10px 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.input-label3 {
  color: var(--text-positive-body-text, #0a0a0a);
  text-align: left;
  font-family: var(
    --body-text-default-mob-font-family,
    "Proximus-Regular",
    sans-serif
  );
  font-size: var(--body-text-default-mob-font-size, 14px);
  line-height: var(--body-text-default-mob-line-height, 21px);
  font-weight: var(--body-text-default-mob-font-weight, 400);
  position: relative;
}
.icon-frame-optional2 {
  padding: 0px 20px 0px 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.frame3 {
  width: 100%;
  height: 60.16%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 14.84%;
  top: 25%;
  overflow: visible;
}
.out-of-10-pages {
  color: var(--text-positive-body-text, #0a0a0a);
  text-align: left;
  font-family: var(
    --body-text-default-mob-font-family,
    "Proximus-Regular",
    sans-serif
  );
  font-size: var(--body-text-default-mob-font-size, 14px);
  line-height: var(--body-text-default-mob-line-height, 21px);
  font-weight: var(--body-text-default-mob-font-weight, 400);
  position: relative;
}
.frame-136 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 24px;
  position: relative;
}
.rectangle-126 {
  background: var(
    --component-and-panel-background-positive-white-background,
    #ffffff
  );
  flex-shrink: 0;
  width: 2px;
  height: 40px;
  position: relative;
}
._1-10-out-of-256-items {
  color: var(--text-positive-text-details, rgba(0, 0, 0, 0.56));
  text-align: left;
  font-family: var(
    --body-text-default-mob-font-family,
    "Proximus-Regular",
    sans-serif
  );
  font-size: var(--body-text-default-mob-font-size, 14px);
  line-height: var(--body-text-default-mob-line-height, 21px);
  font-weight: var(--body-text-default-mob-font-weight, 400);
  position: relative;
}
.pagination2 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 328px;
  position: relative;
}
.frame4 {
  width: 100%;
  height: 60.16%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 14.84%;
  top: 25%;
  overflow: visible;
}
.navigation-arrows {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
  backdrop-filter: var(--default-bg-blur-backdrop-filter, blur(15px));
}
.nav-arrow-frame {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.ellipse-19 {
  background: var(
    --component-and-panel-background-positive-default-background-1,
    rgba(0, 0, 0, 0.04)
  );
  border-radius: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.arrow {
  width: 30%;
  height: 30%;
  position: absolute;
  right: 35%;
  left: 35%;
  bottom: 35%;
  top: 35%;
}
.frame5 {
  width: 100%;
  height: 60.16%;
  position: absolute;
  right: -76.83%;
  left: 76.83%;
  bottom: 39.84%;
  top: 0%;
  transform: translate(-7.22px, 0px);
  overflow: visible;
}
.navigation-arrows2 {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
}
.ellipse-192 {
  background: var(
    --component-and-panel-background-positive-clickable-background-2,
    rgba(92, 45, 145, 0.16)
  );
  border-radius: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  box-shadow: var(
    --buttons-positive-secondary-box-shadow,
    0px 7px 16px -4px rgba(92, 45, 145, 0.16)
  );
  backdrop-filter: var(
    --buttons-positive-secondary-backdrop-filter,
    blur(15px)
  );
}
.frame6 {
  width: 100%;
  height: 60.16%;
  position: absolute;
  right: -25%;
  left: 25%;
  bottom: -60.16%;
  top: 100%;
  transform: translate(0px, -12px);
  overflow: visible;
}
.new-nav {
  background: var(
    --component-and-panel-background-positive-white-background,
    #ffffff
  );
  padding: 30px 10px 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 210px;
  height: 80rem;
  position: absolute;
  left: 0px;
  margin-top: 1px;
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.15);
}
.top-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.accordion-full {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.accordion1 {
  border-radius: 10px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.menu {
  padding: 10px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-2147223641 {
  padding: 0px 0px 0px 3px;
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.collaboration {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
}
.frame7 {
  width: 100%;
  height: 99.68%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0.32%;
  top: 0%;
  overflow: hidden;
}
.group {
  width: 100.01%;
  height: 99.97%;
  position: absolute;
  right: -0.01%;
  left: -0.01%;
  bottom: 0%;
  top: 0.03%;
  overflow: visible;
}
.user-management {
  color: var(--text-positive-heading, #5c2d91);
  text-align: left;
  font-family: var(
    --body-text-small-text-mob-font-family,
    "Proximus-Regular",
    sans-serif
  );
  font-size: var(--body-text-small-text-mob-font-size, 12px);
  line-height: var(--body-text-small-text-mob-line-height, 18px);
  font-weight: var(--body-text-small-text-mob-font-weight, 400);
  position: relative;
  flex: 1;
}
.arrow2 {
  flex-shrink: 0;
  width: 9px;
  height: 9px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
  aspect-ratio: 1;
}
.frame8 {
  width: 100%;
  height: 60.16%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 14.84%;
  top: 25%;
  overflow: visible;
}
.nav-sub-menu.active{
  /* background: var(
    --component-and-panel-background-positive-selected-txt-border-bg,
    #7d57a7
  ); */
  border-radius: 5px;
  padding: 10px 0px 10px 36px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
   color: white !important;  

  &:hover {
    background-color:#7d57a7; /* Changes to green on hover */
   
  }
}
.label.active {
/*   color: var(--text-negative-body-text-heading, #7d57a7); */
  text-align: left;
  font-family: var(
    --body-text-small-text-mob-font-family,
    "Proximus-Regular",
    sans-serif
  );
  font-size: var(--body-text-small-text-mob-font-size, 12px);
  line-height: var(--body-text-small-text-mob-line-height, 18px);
  font-weight: var(--body-text-small-text-mob-font-weight, 400);
  position: relative;
  flex: 1;
}
.nav-sub-menu {
  padding: 10px 0px 10px 36px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.label {
  color: var(--text-positive-heading, #5c2d91);
  text-align: left;
  font-family: var(
    --body-text-small-text-mob-font-family,
    "Proximus-Regular",
    sans-serif
  );
  font-size: var(--body-text-small-text-mob-font-size, 12px);
  line-height: var(--body-text-small-text-mob-line-height, 18px);
  font-weight: var(--body-text-small-text-mob-font-weight, 400);
  position: relative;
  flex: 1;
}
.accordion2 {
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.menu2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-2147223642 {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.articles {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.policy-management {
  color: var(--text-positive-heading, #5c2d91);
  text-align: left;
  font-family: var(
    --body-text-small-text-mob-font-family,
    "Proximus-Regular",
    sans-serif
  );
  font-size: var(--body-text-small-text-mob-font-size, 12px);
  line-height: var(--body-text-small-text-mob-line-height, 18px);
  font-weight: var(--body-text-small-text-mob-font-weight, 400);
  position: relative;
  flex: 1;
}
.arrow3 {
  flex-shrink: 0;
  width: 9px;
  height: 9px;
  position: relative;
  aspect-ratio: 1;
}
.frame9 {
  width: 100%;
  height: 60.16%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 14.84%;
  top: 25%;
  overflow: visible;
}
.accordion3 {
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.frame-21472236422 {
  padding: 0px 0px 0px 3px;
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.invoice-insight-advanced {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
}
.frame10 {
  width: 99.55%;
  height: 100%;
  position: absolute;
  right: 0.45%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: hidden;
}
.group2 {
  width: 100.03%;
  height: 100%;
  position: absolute;
  right: -0.03%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.audits {
  color: var(--text-positive-heading, #5c2d91);
  text-align: left;
  font-family: var(
    --body-text-small-text-mob-font-family,
    "Proximus-Regular",
    sans-serif
  );
  font-size: var(--body-text-small-text-mob-font-size, 12px);
  line-height: var(--body-text-small-text-mob-line-height, 18px);
  font-weight: var(--body-text-small-text-mob-font-weight, 400);
  position: relative;
  flex: 1;
}
.frame11 {
  width: 100%;
  height: 60.16%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 14.84%;
  top: 25%;
  overflow: visible;
}
.line-573 {
  margin-top: -1px;
  border-style: solid;
  border-color: var(--extra-colors-purple2, #ded5e9);
  border-width: 1px 0 0 0;
  align-self: stretch;
  flex-shrink: 0;
  height: 0px;
  position: relative;
}
.frame-2147223657 {
  padding: 10px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-21472236423 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: left;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.contact {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  color:#5C2D91;
;
;
}
.frame12 {
  width: 100%;
  height: 87.71%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 8.12%;
  top: 4.17%;
  overflow: visible;
}
.support {
  color: var(--text-positive-heading, #5c2d91);
  text-align: left;
  font-family: var(
    --body-text-small-text-mob-font-family,
    "Proximus-Regular",
    sans-serif
  );
  font-size: var(--body-text-small-text-mob-font-size, 12px);
  line-height: var(--body-text-small-text-mob-line-height, 18px);
  font-weight: var(--body-text-small-text-mob-font-weight, 400);
  position: relative;
  flex: 1;
}
/* .eservices {
 font-family: Proximus;
font-weight: 400;
font-size: 12px;
line-height: 18px;
letter-spacing: 0%;
color:#5C2D91;
}

.eservices i{
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
   color:#5C2D91;
}
 */


.group3 {
  width: 99.99%;
  height: 100%;
  position: absolute;
  right: 0.01%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.settings {
  color: var(--text-positive-heading, #5c2d91);
  text-align: left;
  font-family: var(
    --body-text-small-text-mob-font-family,
    "Proximus-Regular",
    sans-serif
  );
  font-size: var(--body-text-small-text-mob-font-size, 12px);
  line-height: var(--body-text-small-text-mob-line-height, 18px);
  font-weight: var(--body-text-small-text-mob-font-weight, 400);
  position: relative;
  flex: 1;
}
.top-header {
  background: var(
    --component-and-panel-background-positive-white-background,
    #ffffff
  );
  padding: 20px 24px 20px 24px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
}
.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.header-left {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.logo-hold {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.logo {
  flex-shrink: 0;
  width: 160px;
  height: 32px;
  position: relative;
}
.proximus-logo {
  width: 32px;
  height: 32px;
  position: absolute;
  left: calc(50% - 80px);
  top: 0px;
  overflow: visible;
  aspect-ratio: 1;
}
.proximus-nxt {
  width: 100.57px;
  height: 18.56px;
  position: absolute;
  left: 47px;
  top: 8.72px;
  overflow: visible;
  aspect-ratio: 100.57/18.56;
}
.top-header-tabs {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.header-menu-link {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.header-menu-link-frame {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.link {
  color: var(
    --component-and-panel-background-positive-selected-txt-border-bg,
    #7d57a7
  );
  text-align: left;
  font-family: var(
    --default-res-mobile-h5-default-mob-font-family,
    "Proximus-Bold",
    sans-serif
  );
  font-size: var(--default-res-mobile-h5-default-mob-font-size, 18px);
  line-height: var(--default-res-mobile-h5-default-mob-line-height, 23.4px);
  font-weight: var(--default-res-mobile-h5-default-mob-font-weight, 700);
  position: relative;

}
.link2 {
  color: var(--text-positive-text-details, rgba(0, 0, 0, 0.56));
  text-align: left;
  font-family: var(
    --default-res-mobile-h5-default-mob-font-family,
    "Proximus-Bold",
    sans-serif
  );
  font-size: var(--default-res-mobile-h5-default-mob-font-size, 18px);
  line-height: var(--default-res-mobile-h5-default-mob-line-height, 23.4px);
  font-weight: var(--default-res-mobile-h5-default-mob-font-weight, 700);
  position: relative;
}
.header-right {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.last-response-time-09-10-2025-05-38-37-am {
  text-align: left;
  font-family: var(
    --body-text-small-text-mob-font-family,
    "Proximus-Regular",
    sans-serif
  );
  font-size: var(--body-text-small-text-mob-font-size, 12px);
  line-height: var(--body-text-small-text-mob-line-height, 18px);
  font-weight: var(--body-text-small-text-mob-font-weight, 400);
  position: relative;
}
.last-response-time-09-10-2025-05-38-37-am-span {
  color: var(--canvas-colors-black-black7, #636363);
}
.last-response-time-09-10-2025-05-38-37-am-span2 {
  color: var(--canvas-colors-black-black, #000000);
}
.profile {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.user-account {
  background: var(
    --component-and-panel-background-positive-clickable-background-2,
    rgba(92, 45, 145, 0.16)
  );
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 44px;
  position: relative;
  overflow: hidden;
}
.mobile-header-account {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.frame-180 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 24px;
  position: relative;
  overflow: hidden;
}
.marcus-orlando {
  color: var(--text-positive-heading, #5c2d91);
  text-align: left;
  font-family: var(
    --body-text-default-font-family,
    "Proximus-Regular",
    sans-serif
  );
  font-size: var(--body-text-default-font-size, 16px);
  line-height: var(--body-text-default-line-height, 24px);
  font-weight: var(--body-text-default-font-weight, 400);
  position: relative;
}
.al-arrow {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.rs-txt-secondary-clr{
  color: #0A0A0A;
}

.rs-tag-edit{
 font-family: Proximus;
font-weight: 400;
font-size: 14px;
line-height: 21px;
letter-spacing: 0%;

}