<i class="icon-Temp icon-lh" aria-hidden="true"></i>
<i class="icon-Temp icon-large icon-lh" aria-hidden="true"></i>
<i class="icon-Temp icon-2x icon-lh" aria-hidden="true"></i>
<i class="icon-Temp icon-large icon-2x icon-lh" aria-hidden="true"></i>
<i class="icon-Temp icon-3x icon-lh" aria-hidden="true"></i>
<i class="icon-Temp icon-large icon-3x icon-lh" aria-hidden="true"></i>
<i class="icon-Temp icon-4x icon-lh" aria-hidden="true"></i>
<i class="icon-Temp icon-large icon-4x icon-lh" aria-hidden="true"></i>
<i class="icon-Temp icon-5x icon-lh" aria-hidden="true"></i>
<i class="icon-Temp icon-large icon-5x icon-lh" aria-hidden="true"></i>